<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Grouping</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.135035020483-bk6ntgi1k1ug2vlvq1u38tre8coe2qt0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Grouping utilise l'appareil photo pour vous permettre de photographier vos colis et vos documents de transport.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Grouping ne suit pas votre position. Cette autorisation n'est jamais demandée : elle n'est déclarée que parce que des composants de l'application interrogent la disponibilité des services de localisation du système.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Grouping accède à vos photos pour vous permettre de joindre des images à vos annonces et à vos messages.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/FontAwesome.ttf</string>
		<string>Fonts/FontAwesome6_Brands.ttf</string>
		<string>Fonts/FontAwesome6_Regular.ttf</string>
		<string>Fonts/FontAwesome6_Solid.ttf</string>
		<string>Fonts/Ionicons.ttf</string>
		<string>Fonts/AntDesign.ttf</string>
		<string>Fonts/Foundation.ttf</string>
		<string>Fonts/MaterialCommunityIcons.ttf</string>
		<string>Fonts/AristotelicaProTx-Bld.otf</string>
		<string>Fonts/AristotelicaProTx-Dmbld.otf</string>
		<string>Fonts/AristotelicaProTx-Extlt.otf</string>
		<string>Fonts/AristotelicaProTx-Ft.otf</string>
		<string>Fonts/AristotelicaProTx-Hln.otf</string>
		<string>Fonts/AristotelicaProTx-Hv.otf</string>
		<string>Fonts/AristotelicaProTx-Lt.otf</string>
		<string>Fonts/AristotelicaProTx-Rg.otf</string>
		<string>Fonts/AristotelicaProTx-Th.otf</string>
		<string>Fonts/Entypo.ttf</string>
		<string>Fonts/EvilIcons.ttf</string>
		<string>Fonts/Feather.ttf</string>
		<string>Fonts/MaterialIcons.ttf</string>
		<string>Fonts/Octicons.ttf</string>
		<string>Fonts/SimpleLineIcons.ttf</string>
		<string>Fonts/Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
